.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    background-color: blanchedalmond;
    border-radius: 5%;
    padding: 30px;
    gap: 10px;
}

.avatar {
    height: 400px;
    width: 100%;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}