.button-component {
    height: 70px;
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    color: rgb(41, 41, 41);
    border-radius: 4px;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
  }