.login-form {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    max-height: fit-content;
    width: 590px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-weight: lighter;
    font-size: 24px;
    align-self: start;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}